@model IEnumerable<CodeZoneTask.Models.Entities.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Items</h1>


<!-- if purchase done successfully -->
@if (TempData["UniqueName"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["UniqueName"]
    </div>
}

<form id="createForm" method="post" action="/Item/Create">
    <input type="text" id="itemName" name="Name" class="form-control" placeholder="Enter item name">
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
</form>


<h2>Items List</h2>
<div class="table-responsive">
    <table class="table table-striped" id="itemsList">
        <thead>
            <tr>
                <th>Item</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <form id="editForm_@item.Id" method="post" action="/Item/Edit/@item.Id" style="display: none;">
                            <input type="text" name="name" value="@item.Name" placeholder="Enter new name">
                            <button type="submit" class="btn btn-primary" onclick="saveEdit(@item.Id")>Save</button>
                            <button type="button" class="btn btn-close" onclick="cancelEdit(@item.Id)"></button>
                        </form>
                        <button id="editButton_@item.Id" class="btn btn-info editItem" type="button" onclick="showEditForm(@item.Id)">Edit</button>
                    </td>

                    <td>
                        <form id="deleteForm_@item.Id" method="post" action="/Item/Delete/@item.Id">
                            <button type="button" class="btn btn-danger deleteItem" onclick="confirmDelete(@item.Id)">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function showEditForm(itemId) {
        // hide edit button
        document.getElementById('editButton_' + itemId).style.display = 'none';

        // show form
        document.getElementById('editForm_' + itemId).style.display = 'block';
    }
    function saveEdit(itemId) {

            // var newNameInput = document.querySelector('#editForm_' + itemId + ' input[name="name"]');
            // var newName = newNameInput.value.trim();
            // var currentItemName = document.getElementById('itemName_' + itemId).innerText.trim();

            // // Check if the new name is empty
            // if (!newName) {
            //     alert("Please enter a new item name.");
            //     return;
            // }

            // // Check if the new name is the same as the current name
            // if (newName === currentItemName) {
            //     alert("New item name is the same as the current name.");
            //     return;
            // }

            // // Check if the new name already exists in the list
            // var duplicateName = Array.from(document.querySelectorAll('.itemName')).some(function (item) {
            //     return item.innerText.trim() === newName && item.closest('tr').getAttribute('id') !== 'editRow_' + itemId;
            // });

            // if (duplicateName) {
            //     alert("An item with the same name already exists.");
            //     return;
            // }



        document.querySelector('#editForm_' + itemId + ' button[type="submit"]').click();

        // Hide the edit form after saving
        document.getElementById('editForm_' + itemId).style.display = 'none';
    }

    function cancelEdit(itemId) {
        // hide form
        document.getElementById('editForm_' + itemId).style.display = 'none';

        // show edit button again
        document.getElementById('editButton_' + itemId).style.display = 'inline-block';
    }

    function confirmDelete(itemId) {
        if (confirm('Are you sure you want to delete this item?')) {
            document.getElementById('deleteForm_' + itemId).submit();
        }
    }
</script>


@section scripts
{
    <script>
        //function to check item name before save to prevent duplication
    $(function () {
        $('#createForm').submit(function (event) {
            event.preventDefault(); 

            var itemName = $('#itemName').val();

            //  if the item name is empty
            if (!itemName) {
                alert("Please enter an item name.");
                return;
            }

            //  if an item with the same name  exists in the list return
            if ($('#itemsList').find('td:first-child').filter(function () {
                return $(this).text() === itemName;
            }).length > 0) {
                alert("An item with the same name already exists.");
                return;
            }

            this.submit();
        });
    });
    </script>

}




